* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav {
    height: 800px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 10px;
    column-gap: 5px;
    margin: 20px;
    border: 1px solid rgba(0, 0, 0, 0.212);
    align-items: center;
    justify-items: center;
    background-color: white;
}

.nav button {
    font-size: 3em;
    font-family: "Poppins";
    height: 30%;
    width: 30%;
    border-radius: 10px;
    color: white;
    transition: transform 1s ease;
}

.nav button:hover {
    background-color: rgb(97, 158, 158) !important;
    transform: scale(1.2);
    cursor: pointer;
}